   *{margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
}
   section{
      background-color: rgb(255, 255, 255);
      width: 60%;
      margin: auto;
      border: 2px solid;
      font-size: 20px;
      padding-top: 10px;
      }
   .info{
      display: grid;
      place-items: center;
      font-family: 'Courier New', Courier, monospace;
   }
   .foto{
      display: flex;
      align-items: center;
      border: 2px solid;
      padding-top: 10px;
   }



