*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;}
ul{
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 7px;
}
a{
   text-decoration: none;
   color: aliceblue;
    font-size: 16px;
 
}
header{
   background-color: rgb(255,255,255);
   width:100%;
   margin: 0 auto 0 auto;
}
li{
    padding: 10px 20px;
   background: #5C258D;
}
li:hover{
    background-color: rgb(34, 194, 186);
}
nav{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   text-transform: capitalize;
   flex-wrap: wrap;
}
.logo{
   height: 100px;
   width: 180px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
} 
@media(width<768px) {
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
}
}
footer{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
footer>p{
    font-size: 20px;
 
}